body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.course-left{
    position: relative;
    width: 17%;
    height: 588px;
    background-color: #2a3f54;
    float: left;
    color: #e6e6e6;
}
.course-title{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    left: 0;
    top: 20px;
}
.course-subtitle{
    position: relative;
    font-weight: 600;
    font-size: 12px;
    left: 10px;
    top: 40px;
}
.course-menu{
    position: relative;
    top: 60px;
    padding: 0;
}
.course-menu li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.menu-focus{
    border-top: 1px solid #495a69;
    border-bottom: 1px solid #233546;
    border-right: 5px solid #1abb9c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #314456;
}
.course-menu li:hover{
    border-top: 1px solid #495a69;
    border-bottom: 1px solid #233546;
    border-right: 5px solid #1abb9c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #314456;
}
.course-right{
    position: relative;
    width: 83%;
    height: 588px;
    background-color: #f7f7f7;
    float: left;
}
.course-user{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    border-bottom: 2px solid #e0e4e8;
}
.course-user img[name="user"]{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 120px;
    top: 10px;
}
.course-user img[name="menu"]{
    position: absolute;
    width: 30px;
    height: 40px;
    border-radius: 50%;
    left: 15px;
    top: 10px;
}
.course-user span{
    position: absolute;
    right: 70px;
    top: 18px;
    color: #8692a1;
    font-weight: 600;
}
.course-show{
    position: relative;
    width: 95%;
    margin: 0 auto;
    top: 25px;
    background-color: #fff;
    border: 1px solid #e0e4e8;
    padding-bottom: 20px;
}
.course-show-title{
    position: relative;
    width: 95%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    padding-left: 5px;
    border-bottom: 2px solid #e0e4e8;
}
.course-show-title span{
    position: relative;
    color: #8692a1;
    font-size: 18px;
    font-weight: 400;
}
div[name="fragment"]{
    position: relative;
    width: 95%;
    height: 360px;
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    color: #8692a1;
}
div[name="fragment"] ul{
    margin-top: 0px;
}
.course-userInfo{
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    width: 250px;
    height: 238px;
    float: left;
    border: 2px solid #e0e4e8;
    border-radius: 15px;
    background-color: #f7f7f7;

}
.course-indexInfo{
    position: relative;
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 10px;
    width: 520px;
    height: 160px;
    float: left;
    border-top: 2px dashed #e0e4e8;
}
.course-indexInfo-title{
    position: relative;
    font-size: 18px;
    margin-top: 10px;
}
.course-indexInfo ul{
    margin-top: 20px;
}
.course-indexInfo ul li{
    margin-top: 5px;
}
.course-indexInfo table{
    margin-top: 20px;
}