<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登录界面 - 学生选课系统</title>
    <link rel="icon" href="img/title.png"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <script type="text/javascript" src="jquery/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/style/dialog.js"></script>
    <script type="text/javascript" src="js/style/login.js"></script>
    <script type="text/javascript" src="js/ajax/login.js"></script>
</head>
<body>
<!-- 登录框 -->
<div class="panel panel-default course-login">
    <div class="panel-body">
        <img src="img/course2.png" width="30" height="30" style="float: left;" />
        <h4>&nbsp;选课系统</h4>
        <hr/>
        <form>
            <input type="text" name="id" class="form-control" placeholder="id:" /><br/>
            <input type="password" name="password" class="form-control" placeholder="password:" /><br/>
            <input type="button" name="submit" class="btn btn-primary" value="登录"/>
        </form>
    </div>
</div>
<!-- 引入提示框 -->
<div class="dialog"></div>
</body>
</html>