<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.zt.dao.AdminDao">
    <select id="selectById" resultType="com.zt.pojo.admin" parameterType="String">
        SELECT * FROM admin WHERE a_id=#{a_id}
    </select>
</mapper>