<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.zt.dao.StudentDao">
    <select id="selectById" resultType="com.zt.pojo.student" parameterType="String">
        SELECT * FROM student WHERE s_id=#{s_id}
    </select>
    <update id="updateById">
        UPDATE student SET s_name=#{s_name},s_password=#{s_password},s_sex=#{s_sex},s_major=#{s_major} WHERE s_id=#{s_id}
    </update>
    <update id="reducePoint">
        UPDATE student SET s_point=s_point-#{s_point} WHERE s_id=#{s_id}
    </update>
</mapper>